/* ----------- Container ----------- */
@media (min-width: 1200px) {
  .container-fluid {
    max-width: 1080px;
  }
}
.container-fluid, .container {
  padding-left: 24px;
  padding-right: 24px;
}

/* ----------- Navigation ----------- */
@media (min-width: 1200px) {
  #navbarMenu {
    display: none !important;
  }
  #xlNavbar .nav-link div:hover {
    border-bottom: 2px solid #fff;
  }
}
#navbar {
  z-index: 1;
}
#xlNavbar .navbar-brand, #navbarMenuToggler, #xlNavbar .nav-link {
  line-height: 80px;
}
#xlNavbar .nav-link {
  font-size: 14px;
}
#navbarMenuToggler {
  color: rgb(255, 90, 95);
  transition: color 0.25s;
  z-index: 1;
}
#navbarMenuToggler.collapsed {
  color: #fff;
}
#navbarMenu .nav-link {
  color: #333;
}
#navbarMenu {
  top: 0;
  left: 0;
  right: 0;
  padding-top: 88px;
}
#navbarMenu .nav-link {
  padding: 12px 0;
}



/* ----------- Footer ----------- */
.footerNav h5, .footerNav a {
  font-size: 14px;
}
.footerNav h5 {
  line-height: 18px;
}
.footerNav .social {
  font-size: 18px;
  height: 18px;
}
.footerBar small {
  font-size: 14px;
}
.footerBar .select .angle {
  transform: rotate(90deg);
}