/* ----------- Nav ----------- */

.navbar-brand {
  color: #0dcaf0; 
  font-size: 25px;
}

.navbar-brand:hover {
  color: rgb(29, 27, 27);
}

.nav-item a {
  color: #0dcaf0; 
  text-decoration: none;
}

.nav-item a:active {
  text-decoration: underline solid #0dcaf0;
}

.nav-item a:hover {
  color: rgb(29, 27, 27);
}

#login {
  color: white;
  text-decoration: none;
}

#login:hover {
  color: grey
}

#become-host {
  color: rgb(29, 27, 27);
  text-decoration: none;
}

#become-host:hover {
  color: white;
}

#nav-toggler  {
  color: rgb(29, 27, 27);
}

.homeImg {
  max-width: 90%;
  margin-left: 40px;;
}

.hero-text {
  margin-left: 50px;
  font-size: 37px;
  font-weight: 600;
}

// Breakpoints 

@media (min-width: 376px) {  
  .hero-text {
    margin-left: 30px;
    font-size: 17px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  
  .hero-text {
    margin-left: 30px;
    font-size: 17px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .hero-text {
    margin-left: 30px;
    font-size: 17px;
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .hero-text {
    margin-left: 50px;
    font-size: 27px;
  }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  .hero-text {
    margin-left: 50px;
    font-size: 27px;
  }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
  .hero-text {
    margin-left: 50px;
    font-size: 37px;
  }
 }

/* ----------- Footer ----------- */
.footerNav h5, .footerNav a {
  font-size: 14px;
}
.footerNav h5 {
  line-height: 18px;
}
.footerNav .social {
  font-size: 18px;
  height: 18px;
}
.footerBar small {
  font-size: 14px;
}
.footerBar .select .angle {
  transform: rotate(90deg);
}
.footerNav {
  padding: auto;
  margin: auto;
}

.footNav-col {
  padding: auto;
  margin: auto;
}

.container-footer {
  padding: auto;
  margin: auto;
  align-content: center;
}